name: "zeitword"

services:
  postgres:
    image: postgres:17-alpine
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5432:5432"
  minio:
    image: minio/minio:latest
    container_name: minio
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: password
    ports:
      - "9000:9000"
      - "9001:9001"
    # volumes:
    # - minio-data:/data
    command: server /data --console-address ":9001"
  minio-setup:
    image: minio/mc
    container_name: minio-setup
    depends_on:
      - minio
    entrypoint: >
      sh -c "sleep 5 &&
             mc alias set zeitword http://minio:9000 admin password &&
             mc mb zeitword/zeitword || echo 'Bucket already exists'"
